{% extends 'activities/base.html' %}

{% block content %}
    <div class="page-header">
        <h1><a href="/">Lista de Actividades de {{type}}</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for activity in activities %}
                    <div class="activity">
                        <img src=" {{ activity.typeImage.url }}" width="240"/>
                        <h2><a href=""> Nombre: {{ activity.name }} </a></h2>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
